## PANDA INTRODUCTION 
* Derived from panel data 
* pd 
* dataframe = a table and stores data
*

In [1]:
import pandas as pd

### Create a python dictionary with values and convert to a pandas dataframe

In [2]:
data = {"oranges" : [5,6,7,4,5], "apples" : [2,5,4,6,3], "bannas" : [6,8,9,1,3]}

In [3]:
data

{'oranges': [5, 6, 7, 4, 5],
 'apples': [2, 5, 4, 6, 3],
 'bannas': [6, 8, 9, 1, 3]}

In [4]:
df1 = pd.DataFrame(data)

In [5]:
df1

   oranges  apples  bannas
0        5       2       6
1        6       5       8
2        7       4       9
3        4       6       1
4        5       3       3

In [6]:
# change the no index to custom name index
df1 = pd.DataFrame(data, index=["Molly", "Jack", "Lisa", "Sally", "Melli"])

In [7]:
df1

       oranges  apples  bannas
Molly        5       2       6
Jack         6       5       8
Lisa         7       4       9
Sally        4       6       1
Melli        5       3       3

In [8]:
type(df1)

pandas.core.frame.DataFrame

### Different ways to access a dataframe object column

In [10]:
df1['apples']

Molly    2
Jack     5
Lisa     4
Sally    6
Melli    3
Name: apples, dtype: int64

In [12]:
# safest to use
a = df1['apples']
type(a)

pandas.core.series.Series

In [15]:
# not recommended because it is placed between inbuilt methods. 
o = df1.oranges
o

Molly    5
Jack     6
Lisa     7
Sally    4
Melli    5
Name: oranges, dtype: int64

In [16]:
type(o)

pandas.core.series.Series

### Explore inbuilt methods in both Dataframe and series

In [17]:
df1.columns

Index(['oranges', 'apples', 'bannas'], dtype='object')

In [18]:
c = df1.columns
type(c)

pandas.core.indexes.base.Index

In [19]:
c[0]

'oranges'

In [20]:
c1 = list (c)
type(c1)

list

In [21]:
c1

['oranges', 'apples', 'bannas']

In [34]:
# change apple to lemon 
df1.rename({'apples':'lemons'}, axis='columns')
# this doesnt change from memory

       oranges  lemons  bannas
Molly        5       2       6
Jack         6       5       8
Lisa         7       4       9
Sally        4       6       1
Melli        5       3       3

In [37]:
# change in memory 
# inplace changes argument = replaces the original memory storage. 
df1.rename({'apples':'lemons'}, axis='columns', inplace=True)

In [39]:
df1

       oranges  lemons  bannas
Molly        5       2       6
Jack         6       5       8
Lisa         7       4       9
Sally        4       6       1
Melli        5       3       3

### Methods that are there is a dataframe not a series

In [40]:
o = df1["oranges"]

In [43]:
type(o)

pandas.core.series.Series

In [44]:
o.Jack

6

In [64]:
# lisa's row for oranges and bananas 
# loc method = locate particular row 
df1.loc['Lisa',['oranges','lemons','bannas']]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'